.contact {
  &__content {
    padding: 20px;

    &__header-text {
      color: var(--yellow-theme-sub-text-color);
      display: inline-block;
      font-size: 22px;
      font-weight: 600;
      line-height: 1em;
      letter-spacing: 0.5px;
      position: relative;
      text-transform: uppercase;
      padding: 5px 10px;
      border-bottom: 2px solid var(--yellow-theme-main-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px dotted var(--yellow-theme-main-color);
      /* Add this line for the dotted line */
      padding-bottom: 10px;
      /* Add padding to separate the line from the text */

      &::before,
      &::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 5px;
        background-color: var(--yellow-theme-main-color);
        bottom: -1px;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }

    &__info {
      margin-top: 20px;

      &__item {
        margin-bottom: 10px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white; // Set text color to white
        text-decoration: None; // Underline the text

        strong {
          font-weight: 1000;
          color: var(--yellow-theme-main-color); // Blue color for side headings
          font-size: large;
        }

        a {
          color: white;
          text-decoration: None;

          &:hover {
            text-decoration: underline;
          }
        }

        // Set white color for other text content
        &:not(strong) {
          color: #fff;
        }
      }
    }
  }
}